.form-box {
   
    display: flex;
    justify-content: space-around;
   margin-top: 40px;
   margin-bottom: 40px;
    
}
.sbmt-btn {
    height: 30px;

}
#searchInput {
    height: 30px;
    font-size: 18px;
}
.image-container {
    border: 2px solid black;
    width: calc(33.33% - 20px);
    display: block;
        
        height: fit-content;
}
img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.info-container {
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap:10px;

    
   
}
.info-item {
    text-decoration: none;
    color: black;
    ;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
}

.loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0)
    }

    60%,
    100% {
        transform: translate(-50%, -50%) scale(1)
    }
}

@keyframes pulse {

    0%,
    60%,
    100% {
        transform: scale(1)
    }

    80% {
        transform: scale(1.2)
    }
}